# Architectuur voorbeeld 
Om de architectuur weer te geven wordt een simple voorbeeld gegeven door een reeks keer twee en gedeelddoor te doen.

De opbouw van de code is hier onder weergegeven:
![opbouw_code](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/opbouw_code.png?raw=true)

Een voorbeeld senario is het inladen van CSV en wegschrijven naar csv:

![voorbeeld csv](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/voorbeeld_config_csv.png?raw=true)

Aan de voorkant ziet dat er zo uit:

#  importeer de benodigde functies

In [1]:
from pathlib import Path

from toolbox_continu_inzicht import Config

## 1. Voorbeeld met CSV
Lees de configuratie in:

Dit leest een configuratie bestand `test_config.yaml` in. 
Hier definieren we een aantal data adpaters die lezen/schrijven mogelijk maken:

```yaml
GlobalVariables:
    rootdir: 'tests/src/base/data_sets'

DataAdapter:
    postgresql_database:
        database: 'citoolbox'
        schema: 'citoolbox_schema'
        
    my_csv_in: 
        type: csv
        file: 'test_csv_in.csv'
    my_csv_in_delim: 
        type: csv
        file: 'test_csv_in_delim.csv'
        sep: ';'
    MyCSV_out: 
        type: csv
        file: 'test_csv_out.csv'
    MyPostgresql: 
        type: postgresql_database
        table: data_test
    MyNetCDF_in:
        type: netcdf
        file: 'test_netcdf_in.nc'
    MyNetCDF_out:
        type: netcdf
        file: 'test_netcdf_out.nc'

...

```

In [2]:
test_data_sets_path = Path.cwd() / "data_sets"
c = Config(config_path=test_data_sets_path / "test_config.yaml")
c.lees_config()

Zet de data adapter klaar en geef deze de configuratie mee

In [3]:
from toolbox_continu_inzicht import DataAdapter

data = DataAdapter(config=c)

Run de module met CSV

In [11]:
from toolbox_continu_inzicht.proof_of_concept import example_module

keer_twee = example_module.ValuesTimesTwo(data_adapter=data)

In [12]:
keer_twee.run(input="mycsv_in", output="mycsv_out")

In [19]:
keer_twee.data_adapter.config.global_variables

{'rootdir': 'data_sets',
 'calc_time ': datetime.datetime(2024, 11, 18, 10, 0, tzinfo=datetime.timezone.utc),
 'postgresql_host': '172.17.20.150',
 'postgresql_port': '5432',
 'postgresql_password': 'PSD8SNNAq3N_pMMUMT2RR',
 'postgresql_user': 'continuinzichttoolbox',
 'vitaal_user': 'wsvv',
 'vitaal_password': '82gqiYjpaJuqI',
 'DEBUG_CI': 'false'}

In [13]:
keer_twee.df_in

   objectid        objecttype  parameterid      date_time  value
0         1  measuringstation            1  1726227377000    4.8
1         2  measuringstation            1  1726227377000    5.0
2         3  measuringstation            1  1726227377000    5.2
3         4  measuringstation            1  1726227377000    5.4
4         5  measuringstation            1  1726227377000    5.6

In [14]:
keer_twee.df_out

   objectid        objecttype  parameterid      date_time  value
0         1  measuringstation            1  1726227377000    9.6
1         2  measuringstation            1  1726227377000   10.0
2         3  measuringstation            1  1726227377000   10.4
3         4  measuringstation            1  1726227377000   10.8
4         5  measuringstation            1  1726227377000   11.2

de `values` waardes uit de vorige table zijn vermenigvuldigd met twee

## 2. Voorbeeld met postgressql database:

![voorbeeld_config_db](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/voorbeeld_config_db.png?raw=true)

In [15]:
delen_twee = example_module.ValuesDivideTwo(data_adapter=data)

Doet het nu even niet op github actions:

In [16]:
delen_twee.run(input="mypostgresql", output="mypostgresql")

UserWarning: Data moet de 5 kollom(en) ['objectid', 'objecttype', 'parameterid', 'date_time', 'value'] hebben, maar heeft Index(['objectid', 'objecttype', 'parameterid', 'datetime', 'value',
       'calculating'],
      dtype='object')

Dit zijn de zelfde waardes als net alleen uit de database

In [ ]:
delen_twee.df_in

Na het delen door twee ziet de data er alsvolg uit:

In [ ]:
delen_twee.df_out

_Maak de aanpassingen in de testdatabase ongedaan zodat het voorbeeld het zelfde blijft_

_De `inverse_test_config` doet het tegenovergestelde_

In [ ]:
delen_twee_ongedaan = example_module.ValuesTimesTwo(data_adapter=data)
delen_twee_ongedaan.run(input="mypostgresql", output="mypostgresql")
delen_twee_ongedaan.df_out

## 3. Voorbeeld met lezen uit data base en schrijven naar csv:

![voorbeeld csv](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/voorbeeld_config_mix.png?raw=true)

In [ ]:
mix_keer_twee = example_module.ValuesDivideTwo(data_adapter=data)

In [ ]:
mix_keer_twee.run(input="mypostgresql", output="mycsv_out")

In [ ]:
mix_keer_twee.df_in

In [ ]:
mix_keer_twee.df_out

Dit bestand kunnen we dan ook na lopen:

In [ ]:
import pandas as pd

path = test_data_sets_path / "test_csv_out_mix.csv"
pd.read_csv(path)

En als we hem weer runnen zien we dat de database onveranderd is omdat we het wegschrijven naar de csv

In [ ]:
mix_keer_twee.run(input="mypostgresql", output="mycsv_out")

In [ ]:
mix_keer_twee.df_in

Check of delimiter werkt

In [ ]:
keer_twee_delim = example_module.ValuesTimesTwo(data_adapter=data)

In [ ]:
keer_twee_delim.run(input="mycsv_in_delim", output="mycsv_out")

In [ ]:
keer_twee_delim.df_in

In [ ]:
keer_twee_delim.df_out