# DEMO sprint 2 - Deel 4 (belastingen secties)

Gebruikmakend van:
- csv bestanden voor uitwisselen van data

### Benodigde generieke Python packages

In [1]:
from pathlib import Path

### Definitie configuratie: Database bestanden

GlobalVariables:
    rootdir: "data_demo"  
    moments: [-24,0,24,48]
    
    SectionsLoads:
        MISSING_VALUE: -9999.0 

DataAdapter: 
    default_options:
        csv:
            sep: ","
    Dijkvakken: 
        type: csv
        path: "dijkvakken.csv"
    Dijkvak_belastinglocatie: 
        type: csv
        path: "dijkvak_belastinglocatie.csv"      
    Waterstanden: 
        type: csv
        path: "waterstanden_waterinfo.csv"
    Waterstanden_per_dijkvak: 
        type: csv
        path: "waterstanden_per_dijkvak.csv"

### Lees configuratie in en maak dictionary base.Config aan

In [2]:
from toolbox_continu_inzicht import Config

yaml_config_file = "demo_sprint2-IV.yaml"
path = Path.joinpath(Path.cwd(), "data_demo", yaml_config_file)
c = Config(config_path=path)
c.lees_config()

### Geef config mee aan base.Adapter

In [3]:
from toolbox_continu_inzicht import DataAdapter

data = DataAdapter(config=c)
print(f"Folder met data: {data.config.config_path}")
print(f"Globale variabelen: {data.config.global_variables}")
for data_adapter in data.config.data_adapters:
    print(f"Data apdater: {data_adapter}")

Folder met data: c:\Data\Python\toolbox-continu-inzicht\tests\demos\sections\data_demo\demo_sprint2-IV.yaml
Globale variabelen: {'rootdir': 'data_demo', 'moments': [-24, 0, 24, 48], 'SectionsLoads': {'MISSING_VALUE': -9999.0}}
Data apdater: default_options
Data apdater: Dijkvakken
Data apdater: Dijkvak_belastinglocatie
Data apdater: Waterstanden
Data apdater: Waterstanden_per_dijkvak

### Laad en run module (functie) SectionsLoads voor bepalen waterstand per sectie

In [4]:
from toolbox_continu_inzicht.sections import SectionsLoads

sections_loads = SectionsLoads(data_adapter=data)
ds = sections_loads.run(
    input=["Dijkvakken", "Waterstanden", "Dijkvak_belastinglocatie"],
    output="Waterstanden_per_dijkvak",
)

In [5]:
sectie_waterlevels = sections_loads.df_out
sectie_waterlevels

,id,name,date_time,value,unit,parameter_id,value_type
0,1,IJ12.18400.21100,2024-11-10 09:00:00+00:00,774.0,cm,4724.0,meting
1,1,IJ12.18400.21100,2024-11-10 09:10:00+00:00,775.0,cm,4724.0,meting
2,1,IJ12.18400.21100,2024-11-10 09:20:00+00:00,775.0,cm,4724.0,meting
3,1,IJ12.18400.21100,2024-11-10 09:30:00+00:00,775.0,cm,4724.0,meting
4,1,IJ12.18400.21100,2024-11-10 09:40:00+00:00,775.0,cm,4724.0,meting
...,...,...,...,...,...,...,...
616,11,37_Buitendijk_Hamse_Polders_1,NaN,NaN,NaN,NaN,NaN
617,12,36_Buitendijk_Nieuwe_Zwaluwe_P_1,NaN,NaN,NaN,NaN,NaN
618,13,48_DOT_03a,NaN,NaN,NaN,NaN,NaN
619,14,48_DOT_03b,NaN,NaN,NaN,NaN,NaN
620,15,48_DOT_03c,NaN,NaN,NaN,NaN,NaN

<!-- values_nan = df_out[df_out["value"] == -999].index
for val in values_nan:
    df_out.loc[val, "value"] = np.nan
df_out.sort_index()
df_plot = df_out.set_index(df_out["datetime"])
df_plot = df_plot[df_plot["measurement_location_id"] == 8420]
measurement_index = df_plot["value_type"] == "verwachting"
df_plot_measurements = df_plot[measurement_index][["value"]]
df_plot_forecast = df_plot[~measurement_index][["value"]]
fig, ax = plt.subplots()
df_plot_measurements.plot(color="C0", ax=ax)
df_plot_forecast.plot(color="C1", ax=ax)
ax.legend(["Prediction", "Measurement"]) -->