In [1]:
from pathlib import Path

import pandas as pd

from toolbox_continu_inzicht import Config, DataAdapter

c:\Data\Python\TBCI\toolbox-continu-inzicht\.pixi\envs\default\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
path = Path.cwd() / "data_sets"
config = Config(config_path=path / "profile_to_db.yaml")
config.lees_config()
data_adapter = DataAdapter(config=config)

In [3]:
lst = []
for key in list(data_adapter.config.data_adapters.keys())[1:]:
    if "file" in data_adapter.config.data_adapters[key]:
        lst.append(data_adapter.config.data_adapters[key]["file"])

In [4]:
data_adapter.config.data_adapters

{'default_options': {'csv': {'sep': ','}},
 'slopes': {'type': 'csv', 'file': 'slopes_multiple.csv', 'sep': ','},
 'profiles': {'type': 'csv', 'file': 'profiles_multiple.csv', 'sep': ','},
 'bedlevel_fetch': {'type': 'csv',
  'file': 'bedlevelfetch_multiple.csv',
  'sep': ','},
 'slopes_db': {'type': 'ci_postgresql_slopes',
  'database': 'geoserver',
  'schema': 'continuinzicht_demo_realtime'},
 'profiles_db': {'type': 'ci_postgresql_profiles',
  'database': 'geoserver',
  'schema': 'continuinzicht_demo_realtime'},
 'bedlevel_fetch_db': {'type': 'ci_postgresql_bedlevelfetch',
  'database': 'geoserver',
  'schema': 'continuinzicht_demo_realtime'},
 'slopes_db_in': {'type': 'postgresql_database',
  'database': 'geoserver',
  'schema': 'continuinzicht_demo_realtime',
  'table': 'slopes'},
 'profiles_db_in': {'type': 'postgresql_database',
  'database': 'geoserver',
  'schema': 'continuinzicht_demo_realtime',
  'table': 'profiles'},
 'bedlevel_fetch_db_in': {'type': 'postgresql_database',
  'database': 'geoserver',
  'schema': 'continuinzicht_demo_realtime',
  'table': 'bedlevelfetch'}}

In [5]:
print(lst[0])
df = pd.read_csv(path / lst[0])

slopes_multiple.csv

In [6]:
df

    section_id  slopetypeid      x      y  r  damheight
0           10            1 -10.94  11.10  1          0
1           10            1   0.00  14.81  1          0
2           11            1 -12.59  10.76  1          0
3           11            1   0.00  14.63  1          0
4           11            2 -68.82  10.00  1          0
5           11            2 -12.59  10.76  1          0
6           12            1 -10.17  10.72  1          0
7           12            1   0.00  14.33  1          0
8           12            2 -65.00  10.72  1          0
9           12            2 -10.17  10.72  1          0
10          13            1 -11.72  10.38  1          0
11          13            1   0.00  14.21  1          0
12          13            2 -65.26   9.95  1          0
13          13            2 -11.72  10.38  1          0
14          14            1 -11.91   9.89  1          0
15          14            1   0.00  13.93  1          0
16          14            2 -67.90   9.80  1          0
17          14            2 -11.91   9.89  1          0

In [7]:
### dit schrijft de data naar de database
data_adapter.output("slopes_db", df)

In [8]:
df_in = data_adapter.input("slopes_db_in")
df_in

    sectionid  slopetypeid      x      y  r  damheight
0          10            1 -10.94  11.10  1          0
1          10            1   0.00  14.81  1          0
2          11            1 -12.59  10.76  1          0
3          11            1   0.00  14.63  1          0
4          11            2 -68.82  10.00  1          0
5          11            2 -12.59  10.76  1          0
6          12            1 -10.17  10.72  1          0
7          12            1   0.00  14.33  1          0
8          12            2 -65.00  10.72  1          0
9          12            2 -10.17  10.72  1          0
10         13            1 -11.72  10.38  1          0
11         13            1   0.00  14.21  1          0
12         13            2 -65.26   9.95  1          0
13         13            2 -11.72  10.38  1          0
14         14            1 -11.91   9.89  1          0
15         14            1   0.00  13.93  1          0
16         14            2 -67.90   9.80  1          0
17         14            2 -11.91   9.89  1          0

In [9]:
print(lst[1])
df = pd.read_csv(path / lst[1])

profiles_multiple.csv

In [10]:
### dit schrijft de data naar de database
data_adapter.output("profiles_db", df)

In [11]:
df_in = data_adapter.input("profiles_db_in")
df_in

,id,name,profileid,crestlevel,orientation,dam,damheight,qcr,windspeed,sectormin,sectorsize,closing_situation
0,4,47-1_dp061+082-dp063+043,10,14.81,124,0,0,closed,20,180.0,90.0,0
1,5,47-1_dp071+050-dp072+098,11,14.63,167,0,0,closed,20,180.0,90.0,0
2,6,47-1_dp081+067-dp083+038,12,14.32,130,0,0,closed,20,180.0,90.0,0
3,7,47-1_dp090+009-dp091+055,13,14.21,133,0,0,closed,20,180.0,90.0,0
4,8,47-1_dp095+076-dp098+023,14,13.93,127,0,0,closed,20,180.0,90.0,0

In [12]:
print(lst[2])
df = pd.read_csv(path / lst[2])

bedlevelfetch_multiple.csv

In [13]:
df

    section_id  direction  bedlevel      fetch
0           10       22.5  10.89870   162.7780
1           10       45.0  10.59700   591.3760
2           10       67.5  10.20710   902.4140
3           10       90.0   9.85752  1195.6600
4           10      112.5   9.69969  1197.7300
..         ...        ...       ...        ...
75          14      270.0   9.64051    95.9777
76          14      292.5   9.56742    61.2662
77          14      315.0   9.51724    58.0634
78          14      337.5   9.53060    72.7245
79          14      360.0   9.64682   330.3370

[80 rows x 4 columns]

In [14]:
### dit schrijft de data naar de database
data_adapter.output("bedlevel_fetch_db", df)

In [15]:
df_in = data_adapter.input("bedlevel_fetch_db_in")
df_in

    sectionid  direction  bedlevel      fetch
0          10       22.5  10.89870   162.7780
1          10       45.0  10.59700   591.3760
2          10       67.5  10.20710   902.4140
3          10       90.0   9.85752  1195.6600
4          10      112.5   9.69969  1197.7300
..        ...        ...       ...        ...
75         14      270.0   9.64051    95.9777
76         14      292.5   9.56742    61.2662
77         14      315.0   9.51724    58.0634
78         14      337.5   9.53060    72.7245
79         14      360.0   9.64682   330.3370

[80 rows x 4 columns]