# Architectuur voorbeeld 
Om de architectuur weer te geven wordt een simple voorbeeld gegeven door een reeks keer twee en gedeelddoor te doen.

De opbouw van de code is hier onder weergegeven:
![opbouw_code](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/opbouw_code.png?raw=true)

Een voorbeeld senario is het inladen van CSV en wegschrijven naar csv:

![voorbeeld csv](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/voorbeeld_config_csv.png?raw=true)

Aan de voorkant ziet dat er zo uit:

#  importeer de benodigde functies

In [1]:
from pathlib import Path

from toolbox_continu_inzicht import Config

## Voorbeeld met CSV
Lees de configuratie in:

Dit leest een configuratie bestand `test_config.yaml` in: 

```yaml
GlobalVariables:
    rootdir: 'data_sets'
    postgresql_database:
        database: 'citoolbox'
        schema: 'citoolbox_schema'

DataAdapter:
    MyCSV_in: 
        type: csv
        file: 'test_csv_in.csv'
    MyCSV_out: 
        type: csv
        file: 'test_csv_out.csv'
    MyPostgresql: 
        type: postgresql_database
        table: data

...

```

In [2]:
test_data_sets_path = Path.cwd() / "data_sets"
c = Config(config_path=test_data_sets_path / "test_config.yaml")
c.lees_config()

Zet de data adapter klaar en geef deze de configuratie mee

In [3]:
from toolbox_continu_inzicht import DataAdapter

data = DataAdapter(config=c)

Run de module met CSV

In [4]:
from toolbox_continu_inzicht import voorbeeld_module

keer_twee = voorbeeld_module.WaardesKeerTwee(
    data_adapter=data, input="MyCSV_in", output="MyCSV_out"
)

In [5]:
keer_twee.run()

D:\my_projects\toolbox-continu-inzicht\src\toolbox_continu_inzicht\base\data_adapter.py:83: UserWarning: A `.env` file is not present in the root directory, continuing without
  warnings.warn(
D:\my_projects\toolbox-continu-inzicht\src\toolbox_continu_inzicht\base\data_adapter.py:218: UserWarning: A `.env` file is not present in the root directory, continuing without
  warnings.warn(

In [6]:
keer_twee.df_in

   objectid        objecttype  parameterid       datetime  value
0         1  measuringstation            1  1726227377000    4.8
1         2  measuringstation            1  1726227377000    5.0
2         3  measuringstation            1  1726227377000    5.2
3         4  measuringstation            1  1726227377000    5.4
4         5  measuringstation            1  1726227377000    5.6

In [7]:
keer_twee.df_out

   objectid        objecttype  parameterid       datetime  value
0         1  measuringstation            1  1726227377000    9.6
1         2  measuringstation            1  1726227377000   10.0
2         3  measuringstation            1  1726227377000   10.4
3         4  measuringstation            1  1726227377000   10.8
4         5  measuringstation            1  1726227377000   11.2

de `values` waardes uit de vorige table zijn vermenigvuldigd met twee