---
title : "Voorbeelden"
excecute:
    output: asis
---

Hieronder wordt één voorbeeld gegeven van hoe de architectuur werkt. Er zullen later nog meer voorbeelden aan toegevoegd worden. <br>
Meer voorbeelden met de juiste data en configuratie bestanden zijn te vinden op github onder [toolbox-continu-inzicht/tests/](https://github.com/continu-inzicht/toolbox-continu-inzicht/tree/main/tests/).

# Architectuur voorbeeld 
Om de architectuur weer te geven wordt een simple voorbeeld gegeven door een reeks keer twee en gedeelddoor te doen.

De opbouw van de code is hier onder weergegeven:
![opbouw_code](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/opbouw_code.png?raw=true)

Een voorbeeld senario is het inladen van CSV en wegschrijven naar csv:

![voorbeeld csv](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/voorbeeld_config_csv.png?raw=true)

Aan de voorkant ziet dat er zo uit:

#  importeer de benodigde functies

In [1]:
from toolbox_continu_inzicht import Config

## Voorbeeld met CSV
Lees de configuratie in:

Dit leest een configuratie bestand `test_config.yaml` in: 

```yaml
GlobalVariables:
    rootdir: "data_sets"

DataAdapter:
    default_options:
        postgresql_database:
            database: "citoolbox"
            schema: "citoolbox_schema"
    
    my_csv_in: 
        type: csv
        file: "test_csv_in.csv"
    my_csv_out: 
        type: csv
        file: "test_csv_out.csv"
    my_postgresql: 
        type: postgresql_database
        table: data

...

```

In [2]:
c = Config(config_path="data_sets/test_config.yaml")
c.lees_config()

Zet de data adapter klaar en geef deze de configuratie mee

In [3]:
from toolbox_continu_inzicht import DataAdapter

data = DataAdapter(config=c)

Run de module met CSV

In [4]:
from toolbox_continu_inzicht.proof_of_concept import ValuesTimesTwo

keer_twee = ValuesTimesTwo(data_adapter=data)

In [5]:
keer_twee.run(input="my_csv_in", output="my_csv_out")

In [6]:
keer_twee.df_in

   objectid        objecttype  parameterid      date_time  value
0         1  measuringstation            1  1726227377000    4.8
1         2  measuringstation            1  1726227377000    5.0
2         3  measuringstation            1  1726227377000    5.2
3         4  measuringstation            1  1726227377000    5.4
4         5  measuringstation            1  1726227377000    5.6

In [7]:
keer_twee.df_out

   objectid        objecttype  parameterid      date_time  value
0         1  measuringstation            1  1726227377000    9.6
1         2  measuringstation            1  1726227377000   10.0
2         3  measuringstation            1  1726227377000   10.4
3         4  measuringstation            1  1726227377000   10.8
4         5  measuringstation            1  1726227377000   11.2

de `values` waardes uit de vorige table zijn vermenigvuldigd met twee

Zelf proberen? Dit voorbeeld is te vinden op [Github](https://github.com/continu-inzicht/toolbox-continu-inzicht/tree/main/docs/examples/notebooks)