# Architectuur voorbeeld 
Om de architectuur weer te geven wordt een simple voorbeeld gegeven door een reeks keer twee en gedeelddoor te doen.

De opbouw van de code is hier onder weergegeven:
![opbouw_code](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/opbouw_code.png?raw=true)

Een voorbeeld senario is het inladen van CSV en wegschrijven naar csv:

![voorbeeld csv](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/voorbeeld_config_csv.png?raw=true)

Aan de voorkant ziet dat er zo uit:

#  importeer de benodigde functies

In [1]:
from pathlib import Path

from continu_inzicht_toolbox import Config

## 1. Voorbeeld met CSV
Lees de configuratie in:

Dit leest een configuratie bestand `test_config.yaml` in: 

```yaml
global_variables:
    rootdir: 'docs\examples\notebooks'

WaardesKeerTwee: 
  input: 
      type: csv
      path: 'data_sets\test_csv_in.csv'
  output: 
      type: csv
      path: 'data_sets\test_csv_out.csv'

...

```

In [2]:
test_data_sets_path = Path.cwd() / "data_sets"
c = Config(config_path=test_data_sets_path / "test_config.yaml")
c.lees_config()

Zet de data adapter klaar en geef deze de configuratie mee

In [3]:
from continu_inzicht_toolbox import DataAdapter

data = DataAdapter(config=c)

Run de module met CSV

In [4]:
from continu_inzicht_toolbox import voorbeeld_module

keer_twee = voorbeeld_module.WaardesKeerTwee(data_adapter=data)

In [5]:
keer_twee.run()

In [6]:
keer_twee.df_in

   objectid        objecttype  parameterid       datetime  value
0         1  measuringstation            1  1726227377000    4.8
1         2  measuringstation            1  1726227377000    5.0
2         3  measuringstation            1  1726227377000    5.2
3         4  measuringstation            1  1726227377000    5.4
4         5  measuringstation            1  1726227377000    5.6

In [7]:
keer_twee.df_out

   objectid        objecttype  parameterid       datetime  value
0         1  measuringstation            1  1726227377000    9.6
1         2  measuringstation            1  1726227377000   10.0
2         3  measuringstation            1  1726227377000   10.4
3         4  measuringstation            1  1726227377000   10.8
4         5  measuringstation            1  1726227377000   11.2

de `values` waardes uit de vorige table zijn vermenigvuldigd met twee

## 2. Voorbeeld met postgressql database:

![voorbeeld_config_db](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/voorbeeld_config_db.png?raw=true)

In het configuratie bestand `test_config.yaml` staat:

```yaml
...
WaardesDelenTwee:
  input:
      type: postgresql_database
      table: data
  output: 
      type: postgresql_database
      table: data
      
...

```

Hier is alleen `type` verplicht, de wachtwoorden en server informatie staan in een `.env` bestandje.

In [8]:
delen_twee = voorbeeld_module.WaardesDelenTwee(data_adapter=data)

In [9]:
delen_twee.run()

Dit zijn de zelfde waardes als net alleen uit de database

In [10]:
delen_twee.df_in

   objectid        objecttype  parameterid       datetime  value
0         1  measuringstation            1  1726227377000    4.8
1         2  measuringstation            1  1726227377000    5.0
2         3  measuringstation            1  1726227377000    5.2
3         4  measuringstation            1  1726227377000    5.4
4         5  measuringstation            1  1726227377000    5.6

Na het delen door twee ziet de data er alsvolg uit:

In [11]:
delen_twee.df_out

   objectid        objecttype  parameterid       datetime  value
0         1  measuringstation            1  1726227377000    2.4
1         2  measuringstation            1  1726227377000    2.5
2         3  measuringstation            1  1726227377000    2.6
3         4  measuringstation            1  1726227377000    2.7
4         5  measuringstation            1  1726227377000    2.8

_Maak de aanpassingen in de testdatabase ongedaan zodat het voorbeeld het zelfde blijft_

_De `inverse_test_config` doet het tegenovergestelde_

In [12]:
# Deze config doet het tegenovergestelde
c2 = Config(config_path=test_data_sets_path / "inverse_test_config.yaml")
c2.lees_config()
data2 = DataAdapter(config=c2)
delen_twee_ongedaan = voorbeeld_module.WaardesKeerTwee(data_adapter=data2)
delen_twee_ongedaan.run()
delen_twee_ongedaan.df_out

   objectid        objecttype  parameterid       datetime  value
0         1  measuringstation            1  1726227377000    4.8
1         2  measuringstation            1  1726227377000    5.0
2         3  measuringstation            1  1726227377000    5.2
3         4  measuringstation            1  1726227377000    5.4
4         5  measuringstation            1  1726227377000    5.6

## 3. Voorbeeld met lezen uit data base en schrijven naar csv:

![voorbeeld csv](https://github.com/continu-inzicht/toolbox-continu-inzicht/blob/main/docs/assets/voorbeeld_config_mix.png?raw=true)

In `mix_config.yaml` staat het volgende gedefineerd
```yaml
WaardesKeerTwee: 
  input:
      type: postgresql_database
      table: data
  output: 
      type: csv
      path: 'data_sets\test_csv_out_mix.csv'
```

In [13]:
test_data_sets_path = Path.cwd() / "data_sets"
c = Config(config_path=test_data_sets_path / "mix_config.yaml")
c.lees_config()

In [14]:
data = DataAdapter(config=c)

In [15]:
mix_keer_twee = voorbeeld_module.WaardesDelenTwee(data_adapter=data)

In [16]:
mix_keer_twee.run()

In [17]:
mix_keer_twee.df_in

   objectid        objecttype  parameterid       datetime  value
0         1  measuringstation            1  1726227377000    4.8
1         2  measuringstation            1  1726227377000    5.0
2         3  measuringstation            1  1726227377000    5.2
3         4  measuringstation            1  1726227377000    5.4
4         5  measuringstation            1  1726227377000    5.6

In [18]:
mix_keer_twee.df_out

   objectid        objecttype  parameterid       datetime  value
0         1  measuringstation            1  1726227377000    2.4
1         2  measuringstation            1  1726227377000    2.5
2         3  measuringstation            1  1726227377000    2.6
3         4  measuringstation            1  1726227377000    2.7
4         5  measuringstation            1  1726227377000    2.8

Dit bestand kunnen we dan ook na lopen:

In [19]:
import pandas as pd

path = test_data_sets_path / "test_csv_out_mix.csv"
pd.read_csv(path)

   Unnamed: 0  objectid        objecttype  parameterid       datetime  value
0           0         1  measuringstation            1  1726227377000    2.4
1           1         2  measuringstation            1  1726227377000    2.5
2           2         3  measuringstation            1  1726227377000    2.6
3           3         4  measuringstation            1  1726227377000    2.7
4           4         5  measuringstation            1  1726227377000    2.8

En als we hem weer runnen zien we dat de database onveranderd is omdat we het wegschrijven naar de csv

In [20]:
mix_keer_twee.run()

In [21]:
mix_keer_twee.df_in

   objectid        objecttype  parameterid       datetime  value
0         1  measuringstation            1  1726227377000    4.8
1         2  measuringstation            1  1726227377000    5.0
2         3  measuringstation            1  1726227377000    5.2
3         4  measuringstation            1  1726227377000    5.4
4         5  measuringstation            1  1726227377000    5.6